<% @page_title = "Verwaltung" %>

<div class="page-header">
  <h2><%= t('views.admin.comments.header') %></h2>
</div>

<%= render partial: 'comment/comment', collection: @comments, locals: { showAdmin: true } %>
