 <ul class="list-group">
   <li class="list-group-item"><%= link_to 'Spiele', admin_games_path %></li>
   <li class="list-group-item"><%= link_to 'User', admin_users_path %></li>
   <li class="list-group-item"><%= link_to 'Kommentar', admin_comments_path %></li>
 </ul>