<br/>
<br/>

 <div class="row">
   <div style="text-align: right;" class="col-sm-12 col-md-3 col-md-offset-3">
     <%= link_to admin_users_path, class: "btn btn-default btn-huge" do %>
         <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
         <br/>
         Benutzerverwaltung
     <% end %>
   </div>
   <div style="text-align: left;" class="col-sm-12 col-md-3">
     <%= link_to admin_games_path, class: "btn btn-default btn-huge" do %>
         <span class="glyphicon glyphicon-knight" aria-hidden="true"></span>
         <br/>
         Spieleverwaltung
     <% end %>
   </div>
 </div>


 <div class="row">
   <div style="text-align: right;" class="col-sm-12 col-md-3 col-md-offset-3">
     <%= link_to admin_comments_path, class: "btn btn-default btn-huge" do %>
         <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
         <br/>
         Gemeldete Kommentare
     <% end %>
   </div>
 </div>
