<div class="list-group">
  <% @newgames.each do |game | %>
      <li style="height: 40px;" class="list-group-item">
        <div class="cut-word pull-left">
          <%= link_to game.title, game %>
        </div>
        <div class="pull-right">
          <%= rating_for game, "GESAMT",  { readonly: true } %>
        </div>
      </li>
  <% end %>
</div>