<div class="list-group">
  <% @topgames.each do |game | %>
      <li style="height: 40px;" class="list-group-item">
        <div class="cut-word xs-cut-word pull-left">
          <%= link_to game.title, game %>
        </div>
        <div class="pull-right">
          <%= render_stars(game.TotalRating) %>
        </div>
      </li>
  <% end %>
</div>