<% if user_signed_in? %>
    <!-- Button trigger modal -->
    <a href="#" data-toggle="modal" data-target="#myModal">
      Meine Bewertung
    </a>


    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-backdrop="static"  aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel">Meine Bewertung</h4>
          </div>
          <div class="modal-body">
            Gesamt  : <%= rating_for_user @game, current_user ,"Gesamt", { star: 5, cancel: true, readonly: false } %>
            <br/>
            Umfang : <%= rating_for_user @game, current_user, "Umfang", { star: 5, cancel: true, readonly: false } %>
          </div>
          <div class="modal-footer">
            <%= link_to 'OK', @game, :class => 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>
<% end %>