<% @page_title = "Liste" %>
<div class="row page-header">
  <div class="col-md-10">
    <h2>Liste</h2>
  </div>
  <div class="col-md-2">
    <% if can?(:create, Game) %>
        <%= link_to 'Neues Spiel anlegen', new_game_path, :class => "btn btn-default" %>
    <% end %>
  </div>
</div>

<%= render 'shared/gamestable', :search => false %>
