<% @page_title = "Bestenliste" %>
<div class="row page-header">
  <div class="col-md-10">
    <h2><%= t('views.games.index.header') %></h2>
  </div>
</div>

<%= render 'shared/gamestable', :search => false %>
