<div class="row page-header">
  <div class="col-md-10">
    <h2>Liste</h2>
  </div>
  <div class="col-md-2">
    <%= link_to 'Neues Spiel anlegen', new_game_path, :class => "btn btn-default" %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-hover table-striped">
    <thead>
      <tr>
        <th>Rang</th>
        <th>Spiel</th>
        <th>Entwickler</th>
        <th>Bewertung</th>
      </tr>
    </thead>
    <tbody>
      <% @games.each do |game| %>
        <tr>
          <td></td>
          <td><%= link_to game.title, game %></td>
          <td><%= game.developer %></td>
          <td><%= rating_for game, "Gesamt",  { readonly: true} %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>


